.note {
    color: red;
    font-size: 15px;
}

.heading {
    font-size: 20px;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}

canvas {
    border: 5px solid orangered;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.copy_right_footer {
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
}